*.class
 
# Package Files #
*.jar
*.war
*.ear
 
# ignore Maven generated target folders
target
 
# ignore eclipse files
.project
.classpath
.settings
.metadata

# 忽略README.md文件,避免冲突
README.md

#忽略日志文件
logs/ssm.log

# 忽略db.properties
src/main/resources/db.properties

