<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">
	
	
	<!-- 配置自动扫描的包，使用了@controller注解的类是控制器 -->
	<context:component-scan base-package="com.ang.elearning.controller"></context:component-scan>

	<!-- 配置视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- 配置 MultipartResolver实现文件上传的功能 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- defaultEncoding: 必须和用户JSP 的pageEncoding属性一致，以便正确解析表单的内容 -->
		<property name="defaultEncoding" value="UTF-8"></property>
		<!-- 指定上传的文件最大不能超过10GB -->
		<property name="maxUploadSize" value="10485760000"></property>
		<!-- 指定在文件上传时允许写到内存中的最大值为40KB -->
		<property name="maxInMemorySize" value="40960"></property>
	</bean>

	<!-- <mvc:default-servlet-handler/> 将在 SpringMVC 上下文中定义一个 DefaultServletHttpRequestHandler, 
		它会对进入 DispatcherServlet 的请求进行筛查, 如果发现是没有经过映射的请求, 就将该请求交由 WEB 应用服务器默认的 Servlet 
		处理. 如果不是静态资源的请求，才由 DispatcherServlet 继续处理 一般 WEB 应用服务器默认的 Servlet 的名称都是 default. 
		若所使用的 WEB 服务器的默认 Servlet 名称不是 default，则需要通过 default-servlet-name 属性显式指定 -->
	<mvc:default-servlet-handler />

	<!-- 解决 配置了 mvc:default-servlet-handler 或者 mvc:view-controller 后，控制器不能正常映射请求 
		的问题 还会会默认装配好一个LocalValidatorFactoryBean，用于数据校验 -->
	<mvc:annotation-driven></mvc:annotation-driven>
</beans>

